.navBar {
  display: flex;
  width: 100%;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  background-color: #181818;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: absolute;
  bottom: 0;

  .palette {
    background-color: #1c1c1c;
    padding: 5px 10px;
    border-radius: 6.52px;
    cursor: pointer;
    transition: 0.5s;

    &:active {
      background-color: #3173a5;
      transition: 0.5s;

      path {
        fill: #fff;
        transition: 0.2;
      }
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
  a.bar {
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    cursor: pointer;
    background-color: #1c1c1c;
    color: #3173a5;
    font-weight: 600;

    transition: 0.5s;

    &:active {
      background-color: #3173a5;
      color: #fff;
      transition: 0.5s;

      path {
        fill: #fff;
      }
    }

    path {
      fill: #3173a5;
    }

    &.active {
      background-color: #3173a5;
      color: #fff;

      path {
        fill: #fff;
      }
    }
  }
}
