.bottom_navBar {
  position: absolute;
  bottom: 0;
  background-color: #293a59;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;

  .button_link {
    transition: 0.2s;
    svg {
      cursor: pointer;

      &:active path {
        transition: 0.2s;
        fill: #fff;
      }
    }
  }
}
