.header_bar {
  background-color: #293a59;
  position: absolute;
  top: 0;
  width: 100%;
  .nav_bar {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;

    .logo {
      background-color: #212b3f;
      display: flex;
      align-items: center;
      padding: 5px 15px;
      color: #fff;
      border-radius: 7px;
      flex-direction: column;

      span:nth-child(1) {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
