body {
  &.red,
  &.green,
  &.default,
  &.yellow,
  &.pink,
  &.orange,
  &.purple,
  &.blue {
    transition: linear 5s ease-in-out;
    .wrapper {
      .auth {
        .form {
          .inputs {
            input {
              &:focus {
                border: 1px solid var(--color);
              }
            }
          }
          .check {
            input[type="checkbox"] {
              border: 2px solid #4a4a4a;
              transition: 0.2s ease;

              &:checked {
                background-color: var(--color);
                border: 2px solid var(--color);
              }

              &:focus {
                border: 2px solid var(--color);
              }
            }
          }
        }
        .auth_button button {
          background-color: var(--color);
        }
        .title h2 {
          background-color: var(--color);
        }
      }
      .windowDiary {
        .window_info_user {
          .designIconsProfile {
            svg {
              path {
                fill: var(--color-opacity);
              }
            }
          }
          &:hover {
            box-shadow: inset 0 0 5px var(--color) 50;
            transition: 0.2s ease-in-out;
            border: 1px solid var(--color);
            cursor: pointer;
          }
          .left {
            .img {
              border: 2px solid var(--color);
              color: var(--color-opacity);
            }
          }
        }
      }
      .windowBlur {
        .modal {
          .titleModal {
            color: var(--color);
          }
          .contentModal {
            .titleContent {
              h4 {
                color: var(--color-opacity);
              }

              .line {
                background-color: var(--color-opacity);
              }

              .choiceThemes {
                .theme {
                  .previewTheme {
                    &.active {
                      outline: 2px solid var(--color);
                    }
                  }
                }
              }
              .choiceColors {
                .color {
                  &.active {
                    outline: 2px solid var(--color);
                  }
                }
              }
              .choiceDesign {
                .designIcon {
                  svg {
                    path {
                      fill: var(--color);
                    }
                  }
                  &.active {
                    outline: 2px solid var(--color);
                    background-color: var(--color-opacity);
                  }
                }
              }
            }
          }
          .buttonCloseModal {
            background-color: var(--color);
          }
        }
      }
      .list_schoolSubject {
        .schoolSubject {
          .topMark {
            .left {
              .svg-mark {
                background-color: var(--color);
              }
            }
            .right {
              p {
                color: var(--color);
              }
            }
          }
          .bottomMarks {
            .listMarks {
              .mark {
                p.abenceType {
                  color: var(--color) !important;
                }
                p {
                  span {
                    color: var(--color);
                  }

                  p.dateMark {
                    color: var(--color-opacity);
                  }
                }
              }
            }
          }
        }
      }
      .windowCalls {
        .days {
          .day {
            .callsList {
              .object {
                .call {
                  .timer {
                    background-color: var(--color);
                  }
                  .id {
                    color: var(--color);
                  }
                }

                .dotPoint {
                  background-color: var(--color);
                }
              }
            }
          }
        }
        .buttonsChangeDay {
          button {
            &:active {
              background-color: var(--color);
            }
          }
        }
      }

      .errorMessage {
        svg {
          path {
            fill: var(--color);
          }
        }
      }
    }
    .navBar {
      .bar {
        color: var(--color);
        svg {
          path {
            fill: var(--color);
          }
        }
        &:active {
          background-color: var(--color);
          svg {
            path {
              fill: #fff;
            }
          }
        }
        &.active {
          background-color: var(--color);
          color: #fff;
          svg {
            path {
              fill: #fff;
            }
          }
        }
      }
      .palette {
        svg {
          path {
            fill: var(--color);
          }
        }
      }
    }
  }
}

body.red {
  --color: rgb(231, 76, 60);
  --color-opacity: rgba(231, 76, 60, 0.5);
  --preloader-color-1: rgba(231, 76, 60, 0.1);
  --preloader-color-2: rgba(231, 76, 60, 0.15);
  --preloader-color-3: rgba(231, 76, 60, 0.1);
}

body.green {
  --color: rgb(0, 145, 60);
  --color-opacity: rgba(0, 145, 60, 0.5);
  --preloader-color-1: rgba(0, 145, 60, 0.1);
  --preloader-color-2: rgba(0, 145, 60, 0.15);
  --preloader-color-3: rgba(0, 145, 60, 0.1);
}

body.default {
  --color: rgb(53, 132, 192);
  --color-opacity: rgba(53, 132, 192, 0.5);
  --preloader-color-1: rgba(53, 132, 192, 0.1);
  --preloader-color-2: rgba(53, 132, 192, 0.15);
  --preloader-color-3: rgba(53, 132, 192, 0.1);
}

body.yellow {
  --color: rgb(241, 196, 15);
  --color-opacity: rgba(241, 196, 15, 0.5);
  --preloader-color-1: rgba(241, 196, 15, 0.1);
  --preloader-color-2: rgba(241, 196, 15, 0.15);
  --preloader-color-3: rgba(241, 196, 15, 0.1);
}

body.pink {
  --color: rgb(192, 66, 182);
  --color-opacity: rgba(192, 66, 182, 0.5);
  --preloader-color-1: rgba(192, 66, 182, 0.1);
  --preloader-color-2: rgba(192, 66, 182, 0.15);
  --preloader-color-3: rgba(192, 66, 182, 0.1);
}

body.purple {
  --color: rgb(155, 89, 182);
  --color-opacity: rgba(155, 89, 182, 0.5);
  --preloader-color-1: rgba(155, 89, 182, 0.1);
  --preloader-color-2: rgba(155, 89, 182, 0.15);
  --preloader-color-3: rgba(155, 89, 182, 0.1);
}

body.orange {
  --color: rgb(230, 126, 34);
  --color-opacity: rgba(230, 126, 34, 0.5);
  --preloader-color-1: rgba(230, 126, 34, 0.1);
  --preloader-color-2: rgba(230, 126, 34, 0.15);
  --preloader-color-3: rgba(230, 126, 34, 0.1);
}

body.blue {
  --color: rgb(52, 83, 219);
  --color-opacity: rgba(52, 96, 219, 0.5);
  --preloader-color-1: rgba(52, 152, 219, 0.1);
  --preloader-color-2: rgba(52, 152, 219, 0.15);
  --preloader-color-3: rgba(52, 152, 219, 0.1);
}
